@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

* {
    /*margin: 0;*/
    /*padding: 0;*/
    box-sizing: border-box;
    /* border: 2px solid red; */
}

body {
    font-family: "Outfit", sans-serif;
    background-color: #fcfbfc;
    overflow-x: hidden;
}